* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
}

section {
    height: 800px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 50px;
    align-items: center;
}

section h2 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 50px;
    color: #fff;
}

section img {
    height: 70%;
}

section:nth-child(1) {
    background: #795DF5
}

section:nth-child(2) {
    background: #DE4B49
}

section:nth-child(3) {
    background: #795DF5
}

section:nth-child(4) {
    background: #DE4B49
}

section p {
    font-size: 20px;
    font-weight: 60;
    margin-bottom: 50px;
    color: #fff;
}

section a {
    display: inline-block;
    padding: 7px 0;
    color: #283773;
    text-decoration: none;
    width: 100px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50px;
    background: #ffffff;
    margin-bottom: 15px;
}

.botones {
    width: 80%;
    margin: auto;
    padding: 20px;
}


.botones input {
    color: #fff;
    cursor: pointer;
    margin-right: 5px;
}

.botones button {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    width: 300px;
    height: 70px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 10px;
    background: #fff;
    margin-bottom: 20px;
    margin-left: 20px;
    outline: none;
    background: #707070;
    cursor: pointer;
}

p input {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    width: 300px;
    height: 70px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 10px;
    background: #fff;
    margin-left: 85px;
    outline: none;
    background: #FFC107;
    cursor: pointer;
}

.cta {
    display: inline-block;
    width: 300px;
    height: 70px;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    background: #FFC107;
    color: #fff;
    margin-left: 85px;
    cursor: pointer;
    outline: none;
}

.modal-container {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 25%;
    height: 60%;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 0.8s;
    transform: translateY(0%);
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #c44a4a;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
}

.modal-close {
    transform: translateY (-200%);
}

.modal>img {
    height: 50%;
}
.flotante {
    display: scroll;
    position: fixed;
    bottom: 30px;
    right: 0px; 
}
.flotante img{
    width: 30%;
    height: 30%;
    background: #fff;
    margin-left:60%;
    border-radius: 40px;
    
}

