body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
.morado {
    background: #795DF5;
}
.izquierda {
    background:#DE4B49 ;
    height: 100vh;
    width: 50%;
}
.izquierda img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 80px;
}
.derecha {
    background:#4AD9A4 ;
    width: 50%;
    height: 100vh;
    /* background: url();
    background-size: cover;
    background-position: center; */
}
.arriba{
    background:#4AD9A4 ;
    height: 50vh;
    width: 100%;
}
#pantalla-dividida {
    display: flex;
}
h1 {
    font-size: 50px;
    width: 50%;
    margin: auto;
    margin-left: auto;
    margin-top: 2%;
    text-align: center;
    color: #ffffff;
}
p {
    font-size: 40px;
    font-weight: 900;
    line-height: 50px;
    margin:auto;
    width: 50%;
    color: #795DF5;
    text-align: center;
}
/* a{
    border: 3px solid #ffffff;
    width: 40%;
    background: #FFC107;
    color: #ffffff;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px; 
    display: inline-block; 
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
} */
button{
    border: 3px solid #ffffff;
    width: 40%;
    background: #FFC107;
    color: #ffffff;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px; 
    display: inline-block; 
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    outline: none;
    cursor: pointer;
}
.link {
    text-align: center;
}
.nombre {
    border: 3px solid #707070;
    background: #ffffff;
    width: 30%;
    height: 50px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px; 
    display: inline-block; 
    margin-top: 10%;
    margin-left:33%;
}
.form {
    position: relative;
    height: 50px;
    overflow: hidden;
}
.form input {
    width: 100%;
    height: 100%;
    color: #707070;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    border: none;
    outline: none;
}
.form label {
    position: absolute;
    pointer-events: none; 
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
 
    border-bottom: 2px solid #707070;
}
.form label::after {
    content:"";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #DE4B49;
    transform: translateX(-100%);
    transition: transform 0.3s ease; 
}
.content-name {
    position: absolute; 
    bottom: 5px;
    left: 0px;
    transform: all 0.3s ease;
}
.form input:focus + .label-name .content-name, 
.form input:valid + .label-name .content-name {
    transform: translateY(-150%); 
    font-size: 14px;
    color: #DE4B49;
}
.form input:focus + .label-name::after, .form input:valid + .label-name::after{
    transform: translateX(0%); 
}
.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows:100px 300px ;
    grid-template-areas: "text" "image";

    border-radius: 18px;
    background: #ffffff;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;

    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;

    transition: 0.5 ease;
    cursor: pointer;
}
.card-image1 {
    grid-area:image;
    background: url("/recursos/literatura.jpg");
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-size: cover;
    
}
.card-image2 {
    grid-area:image;
    background: url("/recursos/filosofia.jpg");
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-size: cover;

}
.card-image3 {
    grid-area:image;
    background: url("/recursos/historia.jpg");
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-size: cover;
}
.card-text {
    grid-area: text;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card:hover {
    transform: scale(1,1.1);
    /* transform: translateY(-15px); */
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
}
.card-text a{ 
    text-decoration: none;
    display: inline-block; 
} 
.card-text a:hover{ 
    text-decoration: none;
    display: inline-block; 
    color:#DE4B49;
    font-weight: bold;
    font-size: 25px;
} 